/*Fonts*/
@font-face {
    font-family: 'Gerbera';
    src: url('../fonts/Gerbera.eot');
    src: url('Gerbera.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gerbera.woff2') format('woff2'),
        url('../fonts/Gerbera.woff') format('woff'),
        url('../fonts/Gerbera.ttf') format('truetype'),
        url('../fonts/Gerbera.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: url('MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype'),
        url('../fonts/MullerRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.gerbera-reg() {
	font-family: 'Gerbera', sans-serif;
}
.muller-reg() {
	font-family: 'Muller' , sans-serif;
}
/*Colors*/
@btn-color: #262829;
@return-call: #59A329;

/*btn*/
.btn {
	font-size: 1.7rem;
	padding: 1.9rem 8.2rem 2rem 8.3rem;
	border: 0.1rem solid @btn-color;
	background-color: transparent;
	margin-top: 0.1rem;
}

/*Container-header*/
.container-header {
	/*height: 100vh;*/
	margin: 0 9%;
	display: flex;
	flex-direction: column;
}
/*Container*/
.container {
	/*height: 100vh;*/
	margin: 0 9%;
	/*display: flex;
	flex-direction: column;*/
}
/*Clearfix*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
* {
	box-sizing: border-box;
}
html {
	font-size: 10px;
	overflow-x: hidden;
}
body {
	width: 100%;
	height: 100%;
	.muller-reg();
}


/*Header*/
header {
	background-color: #fafaf3;
}
/*sup-navigation*/
.sup-navigation {
	margin: 0;
	height: 9.5rem;
	padding-top: 3.5rem;
	/*border: 1px solid red;*/
	.call-back {
		align-items: center;
		float: left;
		display: inline-block;
		padding:  0.9rem 0;
		a:not(.call-back__text) {
			text-decoration: none;
		}
		&__number {
			display: block;
			font-size: 1.7rem;
			.gerbera-reg;
			margin-bottom: 0.6rem;
			strong {
				color: @btn-color;
			}
		}
		&__text {
			font-size: 1.5rem;
			color: @return-call;
		}
	}
	.address {
		float: left;
		display: inline-block;
		margin-left: 12.6rem;
		height: 5.8rem;
		align-items: center;
		&__text {
			font-size: 1.5rem;
			line-height: 2.3rem;
			padding: 0.7rem 0;
		}
	}
	.logo {
		float: left;
		display: inline-block;
		padding: 0.8rem 0;
		margin-left: 29.3rem;
	}
	.button {
		float: right;
		display: inline-block;

	}
}

/*sub-navigation*/
.sub-navigation {
	margin-top: 2rem;
	margin-bottom: 3.5rem;
	border: 1px solid #B7B7B7;
	&__links {
		display: flex;
		margin: 0;
		padding: 0;
		justify-content: space-around;
		align-items: center;
		height: 6.9rem;
		li {
			display: inline-block;
			line-height: 6.5rem;
			list-style: none;
			/*width: 100%;*/
			text-align: center;
			/*padding-right: 5.2rem;
			padding-left: 5.2rem;*/
			margin: 0;
			position: relative;
		}
		li:first-child {
			/*padding-left: 7.15rem;*/
		}
		/*li::after {
			content: " ";
			display: block;
			background-color: red;
			width: 0.1rem;
			height: 2rem;
			position: absolute;
			top: 50%;
			right: -50%;
			transform: translateY(-50%);
		}*/
		li:last-child {
			/*padding-right: 7.15rem;*/
		}
		li:last-child:after {
			content: none;
		}
		a {
			font-size: 1.5rem;
			text-decoration: none;
			color: @btn-color;
			.gerbera-reg;
			text-transform: uppercase;
			letter-spacing: 0.3rem;
		}
	}
}


/*Main*/
main {
	background-color: #fafaf3;
}
/*Slider*/
.slider {
	display: block; 
	height: calc( 100vh - 20vh);// right???????????????
	/*flex-grow: 1;*/
	width: 100%;
	background-color: @btn-color;
	overflow: hidden;
	margin-bottom: 12.4rem;
	&__description {
		position: relative;
		top: 49%;
		left: 9%;
		display: inline-block;
		width: 50%;
		h2 {
			color: #ffffff;
			font-size: 5.6rem;
			font-weight: 100;
			margin: 0;
			padding: 0;
			.gerbera-reg;
			margin-bottom: 3.3rem;
		}
		p {
			color: #ffffff;
			font-size: 2.1rem;
			margin-bottom: 1.5rem;
			font-weight: 100;
		}
		p:last-child {
			margin: 0;
		}
	}
}

/*Goods*/
.goods {
	margin-bottom: 16.8rem;
}
/*Menu*/
.menu {
	width: 100%;
	height: 10rem;
	/*background-color: red;*/
	display: flex;
	justify-content: center;
	border-bottom: 0.1rem solid #B7B7B7;
	&__buttons > button {
		width: 23.7rem;
		.gerbera-reg;
		font-size: 1.7rem;
		padding: 1.9rem 5.2rem 2rem 5.3rem;
		position: relative;
	}
	&__buttons {
		margin-bottom: 3rem;
		.btn-space {
			margin: 0 6rem;
		}
	}
	&__buttons button:before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 23%;
		transform: translateY(-50%);
		width: 2rem;
		height: 1rem;
		background: url("../img/main/Goods/Vector.svg")  no-repeat;
		/*background-color: red;*/
	}
	&__buttons .btn:hover {
		border: none;
		background-color: #FFFFFF;
	}	
}
/*Cards*/
.cards {
	width: 100%;
	height: 74.5rem;
	background-color: black;
}

/*Partners*/
.partners {
	display: flex;
	flex-wrap: wrap;
	width: 100%;	
	&__items {
		display: flex;
		width: 25%;
		height: 20.9rem;
		border: 0.1rem solid #B7B7B7;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	&__items:hover {
		background-color: #fff;
		border: none;
	}
}