/*Fonts*/
@font-face {
    font-family: 'Gerbera';
    src: url('../fonts/Gerbera.eot');
    src: url('Gerbera.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gerbera.woff2') format('woff2'),
        url('../fonts/Gerbera.woff') format('woff'),
        url('../fonts/Gerbera.ttf') format('truetype'),
        url('../fonts/Gerbera.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: url('MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype'),
        url('../fonts/MullerRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.gerbera-reg() {
	font-family: 'Gerbera', sans-serif;
}
.muller-reg() {
	font-family: 'Muller' , sans-serif;
}
/*Colors*/
@btn-color: #262829;
@return-call: #59A329;

/*btn*/
.btn {
	font-size: 1.7rem;
	padding: 1.8rem 8.2rem 1.9rem 8.3rem;
	border: 0.1rem solid @btn-color;
	background-color: transparent;
}

/*Container-main*/
.container-main {
	height: 100vh;
	margin: 0 9%;
}
/*Clearfix*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
* {
	box-sizing: border-box;
}
html {
	font-size: 10px;
	overflow-x: hidden;
}
body {
	.muller-reg();
}
/*Mian*/
.main {
	margin-top: 3.5rem;
}
.header {
	margin: 0;
	height: 6rem;
	/*border: 1px solid red;*/
	&__return-call {
		align-items: center;
		float: left;
		display: inline-block;
		padding:  0.95rem 0;
		p {
			font-size: 1.7rem;
			letter-spacing: 0.07rem;
			.gerbera-reg;
			margin-bottom: 0.3rem;
		}
		a {
			font-size: 1.5rem;
			color: @return-call;

		}
	}
	&__street {
		float: left;
		display: inline-block;
		margin-left: 12.6rem;
		height: 5.8rem;
		align-items: center;
		p {
			font-size: 1.5rem;
			line-height: 2.3rem;
			padding: 0.6rem 0;
		}
	}
	&__logo {
		float: left;
		display: inline-block;
		padding: 0.6rem 0;
		margin: 0 0 0 29.3rem;
	}
	&__button {
		float: right;
		display: inline-block;

	}
}
