/*Fonts*/
@font-face {
  font-family: 'GT Cinetype Mono';
  src: url('../fonts/GTCinetype-Mono.eot');
  src: url('GTCinetype-Mono.eot?#iefix') format('embedded-opentype'), url('../fonts/GTCinetype-Mono.woff2') format('woff2'), url('../fonts/GTCinetype-Mono.woff') format('woff'), url('../fonts/GTCinetype-Mono.ttf') format('truetype'), url('../fonts/GTCinetype-Mono.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'GT Cinetype';
  src: url('../fonts/GTCinetype-Bold.eot');
  src: url('GTCinetype-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GTCinetype-Bold.woff2') format('woff2'), url('../fonts/GTCinetype-Bold.woff') format('woff'), url('../fonts/GTCinetype-Bold.ttf') format('truetype'), url('../fonts/GTCinetype-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GT America';
  src: url('../fonts/GTAmerica-Regular.eot');
  src: url('GTAmerica-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/GTAmerica-Regular.woff2') format('woff2'), url('../fonts/GTAmerica-Regular.woff') format('woff'), url('../fonts/GTAmerica-Regular.ttf') format('truetype'), url('../fonts/GTAmerica-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Colors*/
/*Clearfix*/
.clearfix {
  content: "";
  display: table;
  clear: both;
}
/*Container-wrap*/
.container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 9%;
  height: 100vh;
}
/*Container*/
.container {
  margin: 0 9%;
}
.wrap {
  height: 100vh;
  background: url(../img/photo_back.png) center no-repeat;
  background-size: cover;
}
/*btn*/
.btn {
  /*padding: 1.979166666666667vw 3.854166666666667vw;*/
  line-height: 4.6875vw;
  max-width: 16.5625vw;
  width: 100%;
  background-color: #ffffff;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1.09375vw;
  font-family: 'GT Cinetype';
}
.btn:hover {
  letter-spacing: 0.125rem;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'GT America';
}
/*Header*/
.header {
  position: absolute;
  top: 0;
  left: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 82%;
  height: 9.459459459459459vh;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.054054054054054vh;
  width: 100%;
}
.header__section-logo .logo {
  font-size: 1.666666666666667vw;
  font-weight: bold;
  padding: 0;
}
.header__section-logo .header-item a {
  text-decoration: none;
  color: #ffffff;
}
.header__section-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /*.form:after {
		content: " + ";
		display: block;
		text-align: center;
		line-height: 1.801801801801802vh;
		/*width: 1.041666666666667vw;
		height: 1.801801801801802vh;
		color: @btn-color;
		position: absolute;
		top: 50%;
		right: -17%;
		transform: translateY(-50%);
		cursor: pointer;
	}*/
}
.header__section-nav .header-item a {
  text-decoration: none;
  color: #ffffff;
}
.header__section-nav .header-item {
  font-size: 1.09375vw;
  padding: 0 3.385416666666667vw;
}
.header__section-nav .header-item:nth-child(1) {
  padding-left: 0;
}
.header__section-nav .header-item:nth-child(3) {
  padding-right: 0;
  position: relative;
}
/*Main*/
main {
  width: 100%;
}
/*Main__Primary*/
.primary {
  width: 100%;
}
.primary p {
  font-size: 1.09375vw;
  margin: 0;
  font-family: 'GT Cinetype Mono';
  color: #ffffff;
  /*transform: translateY(8rem);
			animation-duration: 1s; 
			animation-fill-mode: both;
			animation-name: sup-text-animation;*/
}
.primary h2 {
  margin: 0;
  font-size: 3.020833333333333vw;
  font-weight: 800;
  color: #ffffff;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: sub-text-animation;
          animation-name: sub-text-animation;
}
.primary button {
  margin-top: 5vw;
  /*transform: translateY(8rem);
			animation-duration: 1s; 
			animation-fill-mode: both;
			animation-name: sup-text-animation;*/
}
.primary a {
  text-decoration: none;
  color: #252525;
}
.sup-item {
  overflow: hidden;
}
.sup-text p {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.sub-item {
  margin-top: 0.666666666666667vw;
}
.sub-item__text {
  overflow: hidden;
  padding-bottom: 1vh;
}
.sub-item__text:nth-child(1) h2 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.sub-item__text:nth-child(2) h2 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.sub-item__text:nth-child(3) h2 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
/*Primary-animation*/
/*.cssanimation-sup {
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: both;
}*/
/*.wipe-sup {
	height: 0;
	overflow: hidden;
	margin: 0 auto;   
	animation-name: wipe-two;
}*/
/*Scroll*/
.scroll {
  position: absolute;
  bottom: 0;
  left: 9%;
  width: 82%;
  height: 10.81081081081081vh;
}
.scroll-button {
  font-size: 0.8854166666666667vw;
  font-family: 'GT Cinetype Mono';
}
.scroll-button a {
  text-decoration: none;
  color: #ffffff;
}
/*Company-description*/
.company-description {
  background-color: #1D1D1D;
  padding-top: 22.39583333333333vw;
  padding-bottom: 22.39583333333333vw;
}
.description-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: relative;
}
.description-content__img {
  width: 50%;
  z-index: 2;
  /*height: 68.91891891891892vh;‬*/
  margin: auto 0;
  overflow: hidden;
}
.description-content__img img {
  width: 39.84375vw;
  height: 100%;
}
.description-content__img:before {
  content: '';
  display: block;
  width: 29.84375vw;
  height: 52.34375vw;
  border-top: 0.0520833333333333vw solid #4C4C4C;
  border-right: 0.0520833333333333vw solid #4C4C4C;
  border-bottom: 0.0520833333333333vw solid #4C4C4C;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -12.1%;
  z-index: -1;
}
.description-content__text {
  width: 50%;
  padding: 4.0625vw 0 4.0625vw 8.4375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  /*transform: translateY(15rem);
		transition: all 2s ease;*/
}
.description-content__text h3 {
  margin: 0 ;
  font-size: 3.020833333333333vw;
  font-weight: 800;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*animation-name: description-text-animation;*/
}
.description-content__text p {
  font-size: 1.09375vw;
  margin-top: 1.875vw;
  word-spacing: 0.2604166666666667vw;
  line-height: 160%;
  width: 100%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*animation-name: description-text-animation;*/
}
.description-text-wrapper > div:nth-child(1) {
  overflow: hidden;
}
.description-text-wrapper > div:nth-child(2) {
  font-family: 'GT Cinetype Mono';
  overflow: hidden;
}
/*.description-text-wrapper > div:nth-child(3) {
	overflow: hidden;
}*/
.description-text-wrapper > div:nth-child(1) p {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.description-text-wrapper > div:nth-child(2) p {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.description-text-wrapper > div:nth-child(3) p {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  opacity: 0;
}
.wrap-description {
  background-color: #1D1D1D;
}
.img-scale {
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: normal;
          animation-iteration-count: normal;
}
/*Features*/
.features {
  position: relative;
  background-color: #1D1D1D;
  padding-bottom: 16.14583333333333vw;
  /*padding-top: 7.92792792792793vh;*/
}
.features-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 31.53153153153153vh;
}
.features-content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46.875vw;
  margin-right: 8.4375vw;
  /*padding-top: 0.2604166666666667vw;*/
}
.features-content__items .items-img {
  margin: auto 0;
}
.features-content__items .items-img img {
  width: 9.635416666666667vw;
  height: auto;
  /*max-width: 100%;*/
}
.features-content__items .items-text {
  padding: 1.197916666666667vw 0 1.145833333333333vw 4.21875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-direction: column;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*max-height: 22.52252252252252vh;*/
}
.features-content__items h3 {
  font-size: 3.020833333333333vw;
  margin-bottom: 1.302083333333333vw;
  line-height: 120%;
}
.features-content__items p {
  font-size: 1.09375vw;
  line-height: 160%;
}
.features-content__items:nth-child(3) {
  margin: 0;
}
/*Digital-Sourcing*/
.digital-sourcing {
  padding-top: 16.14583333333333vw;
  display: block;
  width: 100%;
  margin-bottom: 8.4375vw;
}
.digital-sourcing__text {
  font-size: 3.020833333333333vw;
  font-weight: 800;
  margin-bottom: 4.6875vw;
}
.digital-sourcing__text p:first-child {
  margin-bottom: 0.5208333333333333vw;
}
.digital-sourcing__content img {
  width: 100%;
}
/*Services*/
.services__sup-content,
.services__sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8.854166666666667vw;
}
.services__sup-content .items,
.services__sub-content .items {
  width: 32.91666666666667vw;
}
.services__sup-content .items .first-row,
.services__sub-content .items .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1.979166666666667vw;
}
.services__sup-content .items .first-row p,
.services__sub-content .items .first-row p {
  font-size: 1.09375vw;
  width: 80%;
  font-family: 'GT Cinetype Mono';
  line-height: 160%;
}
.services__sup-content .items .first-row span,
.services__sub-content .items .first-row span {
  font-size: 3.125vw;
  font-family: 'GT Cinetype Mono';
}
.services__sup-content .items .second-row,
.services__sub-content .items .second-row {
  font-size: 1.09375vw;
  line-height: 160%;
}
.services__sub-content {
  margin-bottom: 16.14583333333333vw;
}
/*Contacts*/
/*Contacts-container*/
.contacts-container {
  margin: 0 0 0 9%;
}
.contacts {
  background-color: #F9F9F9;
  /*padding-top: 22.39583333333333vw;//38.28828828828829vh*/
  /*padding-bottom: 22.39583333333333vw;*/
}
.contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: relative;
  padding: 6.25vw 0;
}
.contacts-content__img {
  /*width: 50%;*/
  z-index: 2;
  /*height: 68.91891891891892vh;‬*/
  margin: auto 0;
  overflow: hidden;
}
.contacts-content__img img {
  width: 49.21875vw;
  height: 45.46875vw;
}
.contacts-content__text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  color: #252525;
  /*transform: translateY(15rem);
		transition: all 2s ease;*/
}
.contacts-content__text .contacts-text-wrapper {
  width: 79%;
}
.contacts-content__text .contacts-text-wrapper > div:nth-child(3) p {
  font-family: 'GT America';
  line-height: 160%;
}
.contacts-content__text h3 {
  margin: 0 ;
  font-size: 3.020833333333333vw;
  font-weight: 800;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*animation-name: description-text-animation;*/
}
.contacts-content__text p {
  font-size: 1.09375vw;
  margin-top: 1.979166666666667vw;
  word-spacing: 0.2604166666666667vw;
  line-height: 160%;
  width: 100%;
  font-family: 'GT Cinetype Mono';
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*animation-name: description-text-animation;*/
}
.contacts-content .contacts-btn {
  background-color: #252525;
  color: #ffffff;
  margin-top: 4.6875vw;
}
.contacts-text-wrapper > div:nth-child(1) {
  overflow: hidden;
}
.contacts-text-wrapper > div:nth-child(2) {
  font-family: 'GT Cinetype Mono';
  overflow: hidden;
}
/*.contacts-text-wrapper > div:nth-child(3) {
	
}*/
.contacts-text-wrapper > div:nth-child(1) h3 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.contacts-text-wrapper > div:nth-child(2) p {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.contacts-text-wrapper > div:nth-child(3) p {
  opacity: 0;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
/*Footer*/
/*Container-footer*/
.container-footer {
  margin: 0 9%;
  width: 100%;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9.459459459459459vh;
  background-color: white;
  height: 100%;
}
/*Sup*/
.footer__sup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*height: 4.054054054054054vh;*/
  width: 100%;
  padding: 3.125vw 0;
  border-bottom: 0.0520833333333333vw solid #CDCDCD;
}
.footer__section-logo .logo {
  font-size: 1.666666666666667vw;
  font-weight: bold;
  padding: 0;
}
.footer__section-logo .footer-item a {
  text-decoration: none;
  color: #252525;
}
.footer__section-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.footer__section-nav .footer-item a {
  text-decoration: none;
  color: #252525;
}
.footer__section-nav .footer-item {
  font-size: 1.09375vw;
  padding: 0 3.385416666666667vw;
}
.footer__section-nav .footer-item:nth-child(1) {
  padding-left: 0;
}
.footer__section-nav .footer-item:nth-child(3) {
  padding-right: 0;
  position: relative;
}
/*Sub*/
.footer__sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.666666666666667vw 0 3.125vw;
}
.footer-item a {
  text-decoration: none;
  color: #252525;
}
.copyright {
  font-size: 0.8854166666666667vw;
  font-family: 'GT Cinetype Mono';
}
.by {
  font-size: 0.8854166666666667vw;
  font-family: 'GT Cinetype Mono';
}
/*Animations*/
.text-animation,
.text-contacts-animation {
  -webkit-animation-name: description-text-animation;
          animation-name: description-text-animation;
}
/*Primary*/
@-webkit-keyframes sub-text-animation {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes sub-text-animation {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes sup-text-animation {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes sup-text-animation {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*Company-description*/
/*Img*/
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
/*text*/
@-webkit-keyframes description-text-animation {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes description-text-animation {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*FadeInUp*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*Animated*/
.animated {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
/*Scroll bg*/
.wrap-bg {
  background: #1D1D1D;
  z-index: 999;
}
/*Button none*/
.button-none {
  opacity: 0;
}
/*Scroll-down-none*/
.scroll-down-none {
  opacity: 0;
}
