/*Fonts*/
@font-face {
  font-family: 'Gerbera';
  src: url('../fonts/Gerbera.eot');
  src: url('Gerbera.eot?#iefix') format('embedded-opentype'), url('../fonts/Gerbera.woff2') format('woff2'), url('../fonts/Gerbera.woff') format('woff'), url('../fonts/Gerbera.ttf') format('truetype'), url('../fonts/Gerbera.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot');
  src: url('MullerRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf') format('truetype'), url('../fonts/MullerRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Colors*/
/*btn*/
.btn {
  font-size: 0.8854166666666667vw;
  padding: 0.9895833333333333vw 4.270833333333333vw 1.041666666666667vw 4.322916666666667vw;
  border: 0.05208333vw solid #ffffff;
  background-color: transparent;
  margin-top: 0.0520833333333333vw;
  outline: none;
  color: #fff;
  font-family: 'Gerbera', sans-serif;
}
/*Container*/
.container {
  margin: 0 9%;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*Clearfix*/
.clearfix {
  content: "";
  display: table;
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Muller', sans-serif;
  background-color: #fafaf3;
  color: white;
}
/*Wrapper-back*/
.wrapper-back {
  height: 100vh;
  width: 100%;
  background: url("../img/Back-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 1.5625vw;
}
/*Wrapper-front*/
.wrapper-front {
  height: 100%;
  background: url("../img/Front-bg.jpg") center no-repeat;
  background-size: cover;
}
/*Header*/
.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 1.041666666666667vw;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.navigation .call-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.390625vw 0;
  margin-right: 5.104166666666667vw;
}
.navigation .call-back a:not(.call-back__text) {
  text-decoration: none;
}
.navigation .call-back__number {
  display: block;
  font-size: 0.8854166666666667vw;
  font-family: 'Gerbera', sans-serif;
  margin-bottom: 0.5208333333333333vw;
}
.navigation .call-back__number strong {
  color: #ffffff;
}
.navigation .call-back__text {
  font-size: 0.78125vw;
  color: #59a329;
  text-align: left;
}
.navigation .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* align-items: center; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.390625vw 0;
  margin-right: 13.4375vw;
  color: white;
}
.navigation .address__text_sup {
  padding-top: 0.1041666666666667vw;
  font-size: 0.8854166666666667vw;
  margin-bottom: 0.46875vw;
}
.navigation .address__text_sub {
  font-size: 0.8854166666666667vw;
}
.navigation .logo {
  margin-right: 20.46875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .logo img {
  width: 13.54166666666667vw;
}
/*Primary*/
.primary {
  width: 100%;
}
.primary__sup-text {
  font-size: 7.2rem;
  font-family: 'Gerbera', sans-serif;
}
.primary__sub-text {
  width: 74rem;
  line-height: 160%;
  font-size: 2.1rem;
  margin-top: 1.3rem;
}
/*Primary-contacts*/
.primary-contacts {
  position: absolute;
  bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.primary-contacts .instagram {
  margin-right: 6rem;
  font-size: 1.7rem;
  line-height: 160%;
  color: #B7B7B7;
}
.primary-contacts .vkontakte {
  margin-right: 6rem;
  font-size: 1.7rem;
  line-height: 160%;
  color: #B7B7B7;
}
.primary-contacts .youtube {
  font-size: 1.7rem;
  color: #B7B7B7;
  line-height: 160%;
}
/*Slider-pagination*/
.slider-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.slider-pagination img {
  width: 100%;
  height: 100%;
  display: block;
}
.slider-pagination__btn {
  width: 4.6rem;
  height: 100%;
  background: #f6f6f6 url(../img/primary/slider-pagination/right.svg) center no-repeat;
  cursor: pointer;
}
.slider-pagination__item:nth-child(2) {
  margin-left: 3.5rem;
}
