/*Fonts*/
@font-face {
  font-family: 'Gerbera';
  src: url('../fonts/Gerbera.eot');
  src: url('Gerbera.eot?#iefix') format('embedded-opentype'), url('../fonts/Gerbera.woff2') format('woff2'), url('../fonts/Gerbera.woff') format('woff'), url('../fonts/Gerbera.ttf') format('truetype'), url('../fonts/Gerbera.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot');
  src: url('MullerRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf') format('truetype'), url('../fonts/MullerRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Colors*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*btn*/
.btn {
  width: 12.8125vw;
  font-size: 0.8854166666666667vw;
  padding: 1.041666666666667vw  0;
  border: 0.05208333vw solid #ffffff;
  background-color: transparent;
  /* margin-top: 0.0520833333333333vw; */
  outline: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Gerbera', sans-serif;
}
/*Container*/
.container {
  margin: 0 9%;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*Clearfix*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Muller', sans-serif;
  background-color: #fafaf3;
  color: white;
}
/*Wrapper-back*/
.wrapper-back {
  height: 100vh;
  width: 100%;
  background: url("../img/1font.png") center center no-repeat;
  background-size: cover;
  padding: 3.5rem;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  overflow: hidden;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  /* transition: background 100ms linear; */
  /* transition:all 5s easeInOut; */
}
/*Wrapper-front*/
.wrapper-front {
  width: 100%;
  height: 100%;
  background: url("../img/1font.png") center center no-repeat;
  background-size: cover;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  /* overflow: hidden; */
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  /* position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1); */
  /* transition: all 5s easeInOut; */
}
.wrapper-front:after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
/*Header*/
.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 1.041666666666667vw;
  z-index: 999;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.navigation .call-back {
  min-width: 8.4375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.390625vw 0;
  margin-right: 4.739583333333333vw;
}
.navigation .call-back a:not(.call-back__text) {
  text-decoration: none;
}
.navigation .call-back__number {
  display: block;
  font-size: 0.8854166666666667vw;
  font-family: 'Gerbera', sans-serif;
  margin-bottom: 0.5208333333333333vw;
}
.navigation .call-back__number strong {
  color: #ffffff;
}
.navigation .call-back__text {
  font-size: 0.78125vw;
  color: #59a329;
  text-align: left;
}
.navigation .address {
  min-width: 7.083333333333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.390625vw 0;
  margin-right: 12.29166666666667vw;
  color: white;
}
.navigation .address__text_sup {
  padding-top: 0.1041666666666667vw;
  font-size: 0.8854166666666667vw;
  margin-bottom: 0.46875vw;
}
.navigation .address__text_sub {
  font-size: 0.8854166666666667vw;
}
.navigation .logo {
  margin-right: 20.10416666666667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .logo img {
  width: 13.54166666666667vw;
}
/*Primary*/
.primary {
  width: 100%;
  height: 20.8rem;
  z-index: 999;
  /* &__coffee {
        position: absolute;
        display: none;
    }
    &__bags {
        position: absolute;
        display: none;
    }
    &__folders {
        position: absolute;
        display: none; 
    } */
}
.primary__sup-text {
  font-size: 3.75vw;
  font-family: 'Gerbera', sans-serif;
}
.primary__sub-text {
  width: 74rem;
  line-height: 160%;
  font-size: 2.1rem;
  margin-top: 1.3rem;
}
.js-primary-tabs {
  display: none;
  -webkit-animation: fadeIn 1.7s ease;
          animation: fadeIn 1.7s ease;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.show {
  display: block;
}
/*Primary-footer*/
.primary-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*Primary-contacts*/
.primary-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 6.5rem;
  z-index: 999;
}
.primary-contacts .instagram {
  margin-right: 6rem;
  font-size: 1.7rem;
  /* line-height: 160%; */
  color: #B7B7B7;
}
.primary-contacts .vkontakte {
  margin-right: 6.5rem;
  font-size: 1.7rem;
  /* line-height: 160%; */
  color: #B7B7B7;
}
.primary-contacts .youtube {
  font-size: 1.7rem;
  color: #B7B7B7;
  /* line-height: 160%; */
}
.primary-contacts a {
  text-decoration: none;
  color: #B7B7B7;
}
/*Slider-pagination*/
.slider-pagination {
  /* position: absolute;
    bottom: 0;
    right: 0; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6rem;
  z-index: 999;
}
.slider-pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  width: 28.5rem;
}
.slider-pagination img {
  width: 100%;
  height: 100%;
  display: block;
}
.slider-pagination__btn {
  width: 4.6rem;
  height: 100%;
  background: #f6f6f6 url(../img/primary/slider-pagination/right.svg) center no-repeat;
  cursor: pointer;
}
.slider-pagination__item:nth-child(2) {
  margin-left: 3.5rem;
}
.slider-pagination__item:nth-child(3) {
  margin-left: 3.5rem;
}
li {
  display: block;
  position: relative;
  list-style: none;
}
.active {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.5);
}
