
/*Fonts*/
@font-face {
    font-family: 'GT Cinetype Mono';
    src: url('../fonts/GTCinetype-Mono.eot');
    src: url('GTCinetype-Mono.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTCinetype-Mono.woff2') format('woff2'),
        url('../fonts/GTCinetype-Mono.woff') format('woff'),
        url('../fonts/GTCinetype-Mono.ttf') format('truetype'),
        url('../fonts/GTCinetype-Mono.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'GT Cinetype';
    src: url('../fonts/GTCinetype-Bold.eot');
    src: url('GTCinetype-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTCinetype-Bold.woff2') format('woff2'),
        url('../fonts/GTCinetype-Bold.woff') format('woff'),
        url('../fonts/GTCinetype-Bold.ttf') format('truetype'),
        url('../fonts/GTCinetype-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../fonts/GTAmerica-Regular.eot');
    src: url('GTAmerica-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTAmerica-Regular.woff2') format('woff2'),
        url('../fonts/GTAmerica-Regular.woff') format('woff'),
        url('../fonts/GTAmerica-Regular.ttf') format('truetype'),
        url('../fonts/GTAmerica-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.America() {
	font-family: 'GT America';
}
.Cinetype-Mono() {
	font-family: 'GT Cinetype Mono';
}
.Cinetype-Bold() {
	font-family: 'GT Cinetype';
}

/*Colors*/
@btn-color: #fff;

/*Clearfix*/
.clearfix {
	content: "";
	display: table;
	clear: both;
}

/*Container-wrapper*/
.container-wrapper {
	display: flex;
	align-items: center;
	margin: 0 9%;
	height: 100vh;
}
/*Container*/
.container {
	margin: 0 9%;
}
/*Wrapper-primary-bg_black*/
.wrapper-primary-bg_black {
	background-color: #1D1D1D;
}
/*Wrapper-primary*/
.wrapper-primary {
	opacity: 1;
	transition: all 1s;
	height: 100vh;
	background: url(../img/photo_back.png) center no-repeat;
	background-size: cover;
}

/*btn*/
.btn  {
	line-height: 4.6875vw;
	max-width: 16.5625vw;
	width: 100%;
	background-color: @btn-color;
	border: none;
	outline: none;
	transition: all 0.5s;
	font-size: 1.09375vw;
	.Cinetype-Bold();
}
.btn:hover {
	letter-spacing: 0.125rem;
}

/*ScrollBar*/
::-webkit-scrollbar {
    width: 10px;

}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 50px rgb(255,255,255,1);
}
/* ::-webkit-scrollbar-thumb:hover {
	border: 5px solid rgba(255,255,255,1);
}  */
::-webkit-scrollbar-track {
	background-color: rgba(61,61,61,1);
	opacity: 0.5;
} 

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	overflow-x: hidden;
}
body {
	width: 100%;
	.America();
	cursor: none;
}

/*Header*/
.header {
	position: absolute;
	top: 0;
	left: 9%;
	display: flex;
	align-items: flex-end;
	width: 82%;
	height: 9.459459459459459vh;
}
.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4.054054054054054vh;
	width: 100%;
}
.header__section-logo {
	.logo {
		font-size: 1.666666666666667vw;
		font-weight: bold;
		padding: 0;
	}
	.header-item a {
		text-decoration: none;
		color: @btn-color;
	}
}
.header__section-nav {
	display: flex;
	position: relative;
	.header-item a {
		text-decoration: none;
		color: @btn-color;
	}
	.header-item {
		font-size: 1.09375vw;
		padding: 0 2.864583333333333vw;
	}
	.header-item:nth-child(1) {
		padding-left: 0;
	}
	.header-item:nth-child(3) {
		padding-right: 0;
		position: relative;
	}
}

/*Primary*/
.primary {
	width: 100%;
	p {
		font-size: 1.09375vw;
		margin: 0;
		.Cinetype-Mono();
		color: @btn-color;
	}
	h2 {
		margin: 0;
		font-size: 3.020833333333333vw;
		font-weight: 800;
		color: @btn-color;
		transform: translateY(8rem);
		animation-duration: 2s; 
		animation-fill-mode: both;
		animation-name: sub-text-animation;
	}
	button {
		margin-top: 5vw;
	}
	a {
		text-decoration: none;
		color: #1D1D1D;
	}
}
.sup-item {
	overflow: hidden;
}
.sup-text p {
	animation-delay: 0.8s;
}
.sub-item {
	margin-top: 0.666666666666667vw;
	&__text {
		overflow: hidden;
		padding-bottom: 1vh;
	}
	&__text:nth-child(1) h2{
		animation-duration: 1s;
		animation-delay: 0.1s;
	}
	&__text:nth-child(2) h2{
		animation-duration: 1s;
		animation-delay: 0.4s;
	}
	&__text:nth-child(3) h2{
		animation-duration: 1s;
		animation-delay: 0.7s;
	}
}

/*Scroll*/
.scroll {
	position: absolute;
	bottom: 0;
	left: 9%;
	width: 82%;
	height: 10.81081081081081vh;
}
.scroll-button {
	font-size: 0.8854166666666667vw;
	.Cinetype-Mono();
	a {
		text-decoration: none;
		color: @btn-color;
	}
}

/*Main*/

/*Wrapper-Description-Features-Digital*/
.wrapper-description-digital {
	background-color: #1D1D1D;
	transition: all 0.4s ease;
}

/*Company-description*/
.company-description {
	background-color: #1D1D1D;
	padding-top: 22.39583333333333vw;//38.28828828828829vh
	padding-bottom: 22.39583333333333vw;
	
}
.description-content {
	display: flex;
	color: white;
	position: relative;
	&__img {
		width: 50%;
		z-index: 2;
		margin: auto 0;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}	
	&__img:before {
		content: '';
		display: block;
		width: 29.84375vw;
		height: 52.34375vw;
		border-top: 0.0520833333333333vw solid #4C4C4C;
		border-right: 0.0520833333333333vw solid #4C4C4C;
		border-bottom: 0.0520833333333333vw solid #4C4C4C;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -12.1%;
		z-index: -1;
	}
	&__text {
		width: 50%;
		padding: 4.0625vw 0 4.0625vw 8.4375vw;
		display: flex;
		align-items: center;
		opacity: 1;
		h3 {
		 margin: 0 ;
		 font-size: 3.020833333333333vw;
		 font-weight: 800; 
		 transform: translateY(100%);
		 animation-duration: 1s;
		 animation-delay: 0.1s;
		 animation-fill-mode: forwards;
		}
		p {
			font-size: 1.09375vw;
			margin-top: 1.875vw;
			word-spacing: 0.2604166666666667vw;
			line-height: 160%;
			width: 100%;
			animation-duration: 1s; 
			animation-delay: 0.3s;
			animation-fill-mode: forwards;
		}
	}
}
.description-text-wrapper > div:nth-child(1) {
	overflow: hidden;
}
.description-text-wrapper > div:nth-child(2) {
	.Cinetype-Mono();
	overflow: hidden;
}
.description-text-wrapper > div:nth-child(1) p{
	transform: translateY(100%);
	animation-delay: 0.1s;
}
.description-text-wrapper > div:nth-child(2) p{
	transform: translateY(100%);
	animation-delay: 0.4s;
}
.description-text-wrapper > div:nth-child(3) p{
	animation-delay: 0.7s;
	opacity: 0;
}
.img-scale {
	animation-name: scale;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-iteration-count: normal;
}

/*Features*/
.features {
	position: relative;
	padding-bottom: 38vw;	
}
.features-content {
	position: relative;
	display: flex;
	color: white;
	height: 31.53153153153153vh;
	&__items {
		display: flex;
		width: 46.875vw;
		margin-right: 8.4375vw;
		.items-img {
			margin: auto 0;
			img {
				width: 9.635416666666667vw; // 18.5rem
				height: auto; // 29rem
			}
		}
		.items-text {
			padding: 1.197916666666667vw 0 1.145833333333333vw 4.21875vw;
			display: flex;
			align-items: center;
		}
			h3 {
				font-size: 3.020833333333333vw;
				margin-bottom: 1.302083333333333vw;
				line-height: 120%;
			}
			p {
				font-size: 1.09375vw;
				line-height: 160%;
			}
	}
	&__items:nth-child(3) {
		margin: 0;
	}
}

/*Digital-Sourcing*/
.digital-sourcing {
	display: block;
	width: 100%;
	margin-bottom: 16.14583333333333vw;
	&__text {
		font-size: 3.020833333333333vw;
		font-weight: 800;
		margin-bottom: 4.6875vw;
		color: #1D1D1D;
		p:first-child {
			margin-bottom: 0.5208333333333333vw;
		}
		p {
			transform: translateY(100%);
			animation-duration: 1s;
			animation-delay: 0.1s;
			animation-fill-mode: forwards;
		}
	}
	&__text > div:nth-child(1){
		overflow: hidden;
	}
	&__text > div:nth-child(2){
		overflow: hidden;
	}
	&__text > div:nth-child(1) p{
	animation-delay: 0.1s;
	}
	&__text > div:nth-child(2) p{
	animation-delay: 0.4s;
	}
	&__content {
		overflow: hidden;
	}
	&__content {
		img {
			width: 100%;
		}
	}
	&__border-wrapper {
		display: flex;
		justify-content: center;
		width: 100%;
		.border_grey {
			width: 85%;
			height: 6.25vw;
			border-left: 1px solid #CDCDCD;
			border-right: 1px solid #CDCDCD;
			border-bottom: 1px solid #CDCDCD;
		}
	}
}

/*Services*/

.services__sup-content,
.services__sub-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 9.895833333333333vw;
	.items {
		width: 32.91666666666667vw;
		.first-row {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-bottom: 1.979166666666667vw;
			p {
				font-size: 1.09375vw;
				width: 80%;
				.Cinetype-Mono();
				line-height: 160%;
			}
			span {
				font-size: 3.125vw;
				.Cinetype-Mono()
			}
		}
		.second-row {
			font-size: 1.09375vw;
			line-height: 160%;
		}
	}
}
.services__sub-content {
	margin-bottom: 0;
}

/*Contacts*/
.contacts {
	margin-top: 16.14583333333333vw;
}
/*Contacts-container*/
.contacts-container {
	margin: 0 0 0 9%;
}
.contacts {
	background-color: #F9F9F9;	
}
.contacts-content {
	display: flex;
	color: white;
	position: relative;
	padding: 6.25vw 0;
	&__img {
		z-index: 2;
		margin: auto 0;
		overflow: hidden;
		img {
			width: 49.21875vw;
			height: 45.46875vw;
		}
	}	
	&__text {
		width: 50%;
		display: flex;
		align-items: center;
		opacity: 1;
		color: #252525;
		.contacts-text-wrapper {
			width: 79%;
		}
		.contacts-text-wrapper > div:nth-child(3) p {
			.America();
			line-height: 160%;
		}
		h3 {
		 margin: 0 ;
		 font-size: 3.020833333333333vw;
		 font-weight: 800; 
		 animation-duration: 1s;
		 animation-fill-mode: forwards;
		}
		p {
			font-size: 1.09375vw;
			margin-top: 1.979166666666667vw;
			word-spacing: 0.2604166666666667vw;
			line-height: 160%;
			width: 100%;
			.Cinetype-Mono();
			animation-duration: 1s; 
			animation-fill-mode: forwards;
		}
	}
	.contacts-btn {
		background-color: #252525;
		margin-top: 4.6875vw;
	}
	a {
		text-decoration: none;
		color: white;
	}
}
.contacts-text-wrapper > div:nth-child(1) {
	overflow: hidden;
}
.contacts-text-wrapper > div:nth-child(2) {
	.Cinetype-Mono();
	overflow: hidden;
}
.contacts-text-wrapper > div:nth-child(1) h3{
	transform: translateY(100%);
	animation-delay: 0.1s;
}
.contacts-text-wrapper > div:nth-child(2) p{
	transform: translateY(100%);
	animation-delay: 0.4s;
}
.contacts-text-wrapper > div:nth-child(3) p{
	opacity: 0;
	animation-delay: 0.7s;
}

/*Footer*/

/*Container-footer*/
.container-footer {
	margin: 0 9%;
	width: 100%;
}
.footer {
	display: flex;
	height: 9.459459459459459vh;
	background-color: white;
	height: 100%;
}
/*Footer__Sup-Content*/
.footer__sup-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 3.125vw 0;
	border-bottom: 0.0520833333333333vw solid #CDCDCD;
}
.footer__section-logo {
	.logo {
		font-size: 1.666666666666667vw;
		font-weight: bold;
		padding: 0;
	}
	.footer-item a {
		text-decoration: none;
		color: #252525;
	}
}
.footer__section-nav {
	display: flex;
	position: relative;
	.footer-item a {
		text-decoration: none;
		color: #252525;
	}
	.footer-item {
		font-size: 1.09375vw;
		padding: 0 2.864583333333333vw;
	}
	.footer-item:nth-child(1) {
		padding-left: 0;
	}
	.footer-item:nth-child(3) {
		padding-right: 0;
		position: relative;
	}
}
/*Footer__Sub-Content*/
.footer__sub-content {
	display: flex;
	justify-content: space-between;
	padding: 1.666666666666667vw 0 3.125vw;
}
.footer-item a {
	text-decoration: none;
		color: #252525;
}
.copyright {
	font-size: 0.8854166666666667vw;
	.Cinetype-Mono();
}
.sign {
	font-size: 0.8854166666666667vw;
	.Cinetype-Mono();
}


/*Animations*/
.text-animation,
.text-contacts-animation,
.text-digital-sourcing-animation {
	animation-name: description-text-animation;
}
	/*Primary*/
		@keyframes sub-text-animation {
    	to { transform: translateY(0) }
		}
		@keyframes sup-text-animation {
    	to { transform: translateY(0) }
		}

	/*Company-description*/
		/*Img*/
		@keyframes scale {
	 	 0%   {transform: scale(1);}
	  	100% {transform: scale(1.15);}
		}
		/*text*/
		@keyframes description-text-animation {
    	to { transform: translateY(0) }
		}
		/*FadeInUp*/
		@keyframes fadeInUp {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 25%, 0);
		    transform: translate3d(0, 25%, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}
		.fadeInUp {
		  -webkit-animation-name: fadeInUp;
		  animation-name: fadeInUp;
		}
		/*Animated*/
		.animated {
			animation-delay: 1.3s;
		}

/*Wrapper-Primary-bg Opacity-Zero*/
.wrapper-primary-bg_opacity-zero {
	transition: all 1s ease;
	opacity: 0;
}
/*Primary-Button none*/
.primary-button_none {
	opacity: 0;
}
/*Scroll-down none*/
.scroll-down_none {
	opacity: 0;
}

/*Scroll Digital-Sourcing bg*/
.digital-sourcing-bg_white {
	background: white;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}


/*Cursor*/

 .custom-cursor {
	position: fixed;
	top: -2px;
	left: -2px;
	display: block;
	width: 7px;
	height: 7px;
	background-color: black;
	border-radius: 50%;
	pointer-events: none;
	z-index: 9999;
	opacity: 1;  
}
 .cursor_border {
	position: fixed;
	top: -14px;
	left: -13.5px;
	width: 30px;
	height: 30px;
	z-index: 9998;
	user-select: none;
	pointer-events: none;
	border: 3px solid white;
	border-radius: 50%;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	opacity: 0.3;
}  
/* .cursor_border svg {
    -webkit-transform: scale(.45);
    transform: scale(.45);
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    will-change: transform;
    width: 60px;
    margin-top: -21px;
    margin-left: -21px;
    .fill{
    fill: white;
    }
} */
.cursor-bg_black {
	border: 3px solid black;
}
.cursor-bg_white {
	border: 3px solid white;
}  

/*btn,a Cursor None*/
button, a {
	cursor: none;
}

/*a, button Hover affect*/
.cursor_hover {
	opacity: 1;
}








