/*Fonts*/
@font-face {
    font-family: 'GT Cinetype Mono';
    src: url('../fonts/GTCinetype-Mono.eot');
    src: url('GTCinetype-Mono.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTCinetype-Mono.woff2') format('woff2'),
        url('../fonts/GTCinetype-Mono.woff') format('woff'),
        url('../fonts/GTCinetype-Mono.ttf') format('truetype'),
        url('../fonts/GTCinetype-Mono.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../fonts/GTAmerica-Regular.eot');
    src: url('GTAmerica-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTAmerica-Regular.woff2') format('woff2'),
        url('../fonts/GTAmerica-Regular.woff') format('woff'),
        url('../fonts/GTAmerica-Regular.ttf') format('truetype'),
        url('../fonts/GTAmerica-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.America() {
	font-family: 'GT America';
}
.Cinetype-Mono() {
	font-family: 'GT Cinetype Mono';
}

/*Colors*/
@btn-color: #fff;

/*Clearfix*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
}

html {
	font-style: 10px;
	overflow-x: hidden;
}
body {
	width: 100%;
	height: 100%;
	.America();
}

/*Header*/