/*Fonts*/
@font-face {
    font-family: 'GT Cinetype Mono';
    src: url('../fonts/GTCinetype-Mono.eot');
    src: url('GTCinetype-Mono.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTCinetype-Mono.woff2') format('woff2'),
        url('../fonts/GTCinetype-Mono.woff') format('woff'),
        url('../fonts/GTCinetype-Mono.ttf') format('truetype'),
        url('../fonts/GTCinetype-Mono.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
/* @font-face {
    font-family: 'GT Cinetype';
    src: url('../fonts/GTCinetype-Bold.eot');
    src: url('GTCinetype-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTCinetype-Bold.woff2') format('woff2'),
        url('../fonts/GTCinetype-Bold.woff') format('woff'),
        url('../fonts/GTCinetype-Bold.ttf') format('truetype'),
        url('../fonts/GTCinetype-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'GT America';
    src: url('../fonts/GTAmerica-Regular.eot');
    src: url('GTAmerica-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTAmerica-Regular.woff2') format('woff2'),
        url('../fonts/GTAmerica-Regular.woff') format('woff'),
        url('../fonts/GTAmerica-Regular.ttf') format('truetype'),
        url('../fonts/GTAmerica-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GT America Bold';
    src: url('../fonts/GTAmerica-Bold.eot');
    src: url('GTAmerica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTAmerica-Bold.woff2') format('woff2'),
        url('../fonts/GTAmerica-Bold.woff') format('woff'),
        url('../fonts/GTAmerica-Bold.ttf') format('truetype'),
        url('../fonts/GTAmerica-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

.America() {
	font-family: 'GT America';
}
.America-Bold() {
	font-family: 'GT America Bold';
}
.Cinetype-Mono() {
	font-family: 'GT Cinetype Mono';
}
/* .Cinetype-Bold() {
	font-family: 'GT Cinetype';
} */

/*Colors*/
@btn-color: #fff;

/*Clearfix*/
.clearfix {
	content: "";
	display: table;
	clear: both;
}

/*Container-wrapper*/
.container-wrapper {
	display: flex;
	align-items: center;
	margin: 0 9%;
	height: 100vh;
}
/*Container*/
.container {
	margin: 0 9%;
}
/*Wrapper-primary-bg_black*/
.wrapper-primary-bg_black {
	background-color: #1D1D1D;
}
/*Wrapper-primary*/
.wrapper-primary {
	opacity: 1;
	transition: all 1s;
	height: 100vh;
	background: url(../img/photo_back.jpg)  center no-repeat;
	background-size: cover;
}

/*btn*/
.btn  {
	line-height: 4.6875vw;
	max-width: 17.1875vw;
	width: 100%;
	background-color: @btn-color;
	border: none;
	outline: none;
	transition: all 0.5s;
	font-size: 1.09375vw;
	.America();
}
.btn:hover {
	letter-spacing: 0.125rem;
}

/*ScrollBar*/
::-webkit-scrollbar {
    width: 5px;

}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 50px rgb(255,255,255,1);
}
/* ::-webkit-scrollbar-thumb:hover {
	border: 5px solid rgba(255,255,255,1);
}  */
::-webkit-scrollbar-track {
	background-color: rgba(61,61,61,1);
	opacity: 0.5;
} 

/*p selection*/
p::selection {
	background: rgba(61,61,61,1);
	color: white; /* Safari */
}
p::-moz-selection {
	background: rgba(61,61,61,1);
	color: white; /* Firefox */
}
/*h2 selection*/
h2::selection {
	background: rgba(61,61,61,1);
	color: white; /* Safari */
}
h2::-moz-selection {
	background: rgba(61,61,61,1);
	color: white; /* Firefox */
}
/*h3 selection*/
h3::selection {
	background: rgba(61,61,61,1);
	color: white; /* Safari */
}
h3::-moz-selection {
	background: rgba(61,61,61,1);
	color: white; /* Firefox */
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	overflow-x: hidden;
}
body {
	width: 100%;
	.America();
	cursor: none;
}

/*Header*/
.header {
	position: absolute;
	top: 0;
	left: 9%;
	display: flex;
	align-items: flex-end;
	width: 82%;
	height: 9.459459459459459vh;
}
.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4.054054054054054vh;
	width: 100%;
}
.header__section-logo {
	.logo {
		font-size: 1.666666666666667vw;
		font-weight: bold;
		padding: 0;
		.America-Bold();
	}
	.header-item a {
		text-decoration: none;
		color: @btn-color;
	}
}
.header__section-nav {
	display: flex;
	position: relative;
	.header-item a {
		text-decoration: none;
		color: @btn-color;
	}
	.header-item {
		font-size: 1.09375vw;
		padding: 0 2.864583333333333vw;
	}
	.header-item:nth-child(1) {
		padding-left: 0;
	}
	.header-item:nth-child(5) {
		padding-right: 0;
		position: relative;
	}
}

/*Primary*/
.primary {
	width: 100%;
	p {
		font-size: 1.09375vw;
		margin: 0;
		.Cinetype-Mono();
		color: @btn-color;
	}
	h2 {
		margin: 0;
		font-size: 3.020833333333333vw;
		font-weight: 800;
		color: @btn-color;
		transform: translateY(8rem);
		animation-duration: 2s; 
		animation-fill-mode: both;
		animation-name: sub-text-animation;
	}
	button {
		margin-top: 5vw;
	}
	a {
		text-decoration: none;
		color: #1D1D1D;
	}
}
.sup-item {
	overflow: hidden;
}
.sup-text p {
	animation-delay: 0.8s;
}
.sub-item {
	margin-top: 0.666666666666667vw;
	.America-Bold();
	&__text {
		overflow: hidden;
		padding-bottom: 1vh;
	}
	&__text:nth-child(1) h2{
		animation-duration: 1s;
		animation-delay: 0.1s;
	}
	&__text:nth-child(2) h2{
		animation-duration: 1s;
		animation-delay: 0.4s;
	}
	&__text:nth-child(3) h2{
		animation-duration: 1s;
		animation-delay: 0.7s;
	}
}

/*Scroll*/
.scroll {
	position: absolute;
	bottom: 0;
	left: 9%;
	width: 82%;
	height: 10.81081081081081vh;
}
.scroll-button {
	font-size: 0.8854166666666667vw;
	.Cinetype-Mono();
	a {
		text-decoration: none;
		color: @btn-color;
	}
}

/*Main*/

/*Wrapper-Description-Features-Digital*/
.wrapper-description-digital {
	background-color: #1D1D1D;
	transition: all 0.4s ease;
}

/*Company-description*/
.company-description {
	background-color: #1D1D1D;
	padding-top: 22.39583333333333vw;//38.28828828828829vh
	padding-bottom: 6.25vw;
}
.description-content {
	display: flex;
	justify-content: space-between;
	color: white;
	position: relative;
	&__img {
		width: 39.84375vw;
		height: 100%;
		z-index: 2;
		margin: auto 0;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}	
	&__img:before {
		content: '';
		display: block;
		width: 29.84375vw;
		height: 52.34375vw;
		border-top: 0.0520833333333333vw solid #4C4C4C;
		border-right: 0.0520833333333333vw solid #4C4C4C;
		border-bottom: 0.0520833333333333vw solid #4C4C4C;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -12.1%;
		z-index: -1;
	}
	&__text {
		width: 50%;
		/* padding: 4.0625vw 0 4.0625vw 8.4375vw; */
		display: flex;
		justify-content: flex-end;
		align-items: center;
		opacity: 1;
		h3 {
		 margin: 0 ;
		 font-size: 3.020833333333333vw;
		 font-weight: 800; 
		 transform: translateY(100%);
		 animation-duration: 1s;
		 animation-delay: 0.1s;
		 animation-fill-mode: forwards;
		}
		p {
			font-size: 1.09375vw;
			margin-top: 1.875vw;
			word-spacing: 0.2604166666666667vw;
			line-height: 160%;
			width: 100%;
			transform: translateY(100%);
			animation-duration: 1s; 
			animation-delay: 0.3s;
			animation-fill-mode: forwards;
		}
	}
}
.description-text-wrapper {
	width: 33.07291666666667vw;
}
.description-text-wrapper > div:nth-child(1) {
	overflow: hidden;
	.America-Bold();
}
.description-text-wrapper > div:nth-child(2) {
	overflow: hidden;
	.America-Bold();
}
.description-text-wrapper > div:nth-child(3) {
	.Cinetype-Mono();
	overflow: hidden;
}
.description-text-wrapper > div:nth-child(1) h3{
	transform: translateY(100%);
	animation-delay: 0.1s;
}
.description-text-wrapper > div:nth-child(2) h3{
	transform: translateY(100%);
	animation-delay: 0.4s;
}
.description-text-wrapper > div:nth-child(3) p{
	animation-delay: 0.7s;
}
.description-text-wrapper > div:nth-child(4) p{
	animation-delay: 0.9s;
	opacity: 0;
}
.img-scale {
	animation-name: scale;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-iteration-count: normal;
}

/*Task*/
.task {
	width: 100%;
	/* margin-bottom: 31rem; */
	padding-top: 16.14583333333333vw;
}
.task__title {
	width: 57%;
	margin-bottom: 9.895833333333333vw;
	color: white;
	h3 {
		font-size: 3.020833333333333vw;
		line-height: 125%;
		margin-bottom: 1.302083333333333vw;
		transform: translateY(120%);
		animation-duration: 1s; 
		animation-delay: 0.1s;
		animation-fill-mode: forwards;
	}
	p {
		.America();
		font-size: 1.09375vw;
		line-height: 160%;
		opacity: 0;
	}
}
.task__title > div:nth-child(1) {
	overflow: hidden;
	.America-Bold();
}
.task__title > div:nth-child(2) p{
	animation-delay: 0.7s;
}
.task__content {
	display: flex;
	/* justify-content: space-around; */ 
	width: 100%;
	min-height: 42.96875vw;
	color: white;
	.left-items,
	.middle-items,
	.right-items {
		/* height: 76.38888888888889vh; */
		display: flex;
		flex-direction: column;
		.item {
			width: 26.5625vw;
			height: 14.0625vw;
			padding: 2.34375vw 1.5625vw 2.604166666666667vw 2.604166666666667vw;
			border: 0.0520833333333333vw solid #4C4C4C;
			h3 {
				.Cinetype-Mono();
				font-size: 1.09375vw;
				margin-bottom: 1.979166666666667vw;
			}
			p {
				.America();
				font-size: 1.09375vw;
				line-height: 160%;
				opacity: 0.2;
				transition: all 0.5s;
			}
			/* p:hover {
				opacity: 1;
			} */
		}
		.item:hover p {
			opacity: 1;
		}
		.item:nth-child(1) {
			margin-bottom: 0.78125vw;
		}
	}
	.left-items {
		justify-content: flex-start;
		margin-right: 0.78125vw;
	}
	.middle-items {
		justify-content: center;
		margin-right: 0.78125vw;
	}
	.right-items {
		justify-content: flex-end;
	}
}

/*Solution*/
.solution {
	padding-top: 31rem;
	margin-bottom: 31rem;
}
.solution__content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 76.5rem;
}
.solution__text {
	width: 63.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	.text-wrapper-caption {
		.America-Bold();
		font-weight: 900;
		margin-bottom: 3.4rem;
		h2 {
			font-size: 5.8rem;
			line-height: 125%;
			transform: translateY(120%);
			animation-duration: 1s; 
			animation-delay: 0.3s;
			animation-fill-mode: forwards;
		}
	}
	.text-wrapper-caption > div:nth-child(1) {
		overflow: hidden;
	}
	.text-wrapper-caption > div:nth-child(1) h2{
		animation-delay: 0.1s;
	}
	.text-wrapper-caption > div:nth-child(2) {
		overflow: hidden;
	}
	.text-wrapper-caption > div:nth-child(2) h2{
		animation-delay: 0.4s;
	}
	.text-wrapper-desc {
		width: 95%;
		.America();
		font-size: 2.1rem;
		line-height: 160%;
		p {
			transform: translateY(100%);
			animation-duration: 1s; 
			animation-delay: 0.9s;
			animation-fill-mode: forwards;
			opacity: 0;
		}
	}
}
.solution__square {
	position: relative;
	.square {
		position: relative;
		width: 76.5rem;
		height: 100%;
		border: 1px solid #4C4C4C;
		overflow: hidden;
		z-index: 1;
	}
	.square--left {
		display: block;
		position: absolute;
		top: 0;
		left: -10.7rem;
		width: 57.6rem;
		height: 43.3rem;
		border: 1px solid #4C4C4C;
		background-color: #1D1D1D;
		overflow: hidden;
		z-index: 999;
		transition: background 100ms linear;
	}
	.square--right {
		display: block;
		position: absolute;
		bottom: 0;
		right: -8rem;
		width: 40.7rem;
		height: 40.7rem;
		border: 1px solid #4C4C4C;
		z-index: 999;
		transition: background 100ms linear;
	}
}

/*Card*/
.card {
	margin-bottom: 42.2rem;
}
.card__content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 87.5rem;
	margin-bottom: 31rem;
	background-color: #252525;
}
.card__text {
	width: 76.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	padding-left: 13.3rem;
	.text-wrapper-caption {
		.America();
		font-weight: 900;
		margin-bottom: 3.4rem;
		h2 {
			font-size: 5.8rem;
			line-height: 125%;
		}
	}
	.text-wrapper-desc {
		width: 95%;
		.America();
		font-size: 2.1rem;
		line-height: 160%;
	}
}
.card__img {
	display: flex;
	align-items: center;
	.image {
		width: 71.3rem;
		padding: 2.4rem 0 2.4rem 2.4rem;
		background-color: #1D1D1D;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

/*Mobile*/
.mobile {
	margin-bottom: 31rem;
}
.mobile__content {
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 100%;
	height: 87.5rem;
	margin-bottom: 31rem;
	background-color: #252525;
}
.mobile__text {
	width: 76.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	padding-left: 13.3rem;
	.text-wrapper-caption {
		.America();
		font-weight: 900;
		margin-bottom: 3.4rem;
		h2 {
			font-size: 5.8rem;
			line-height: 125%;
		}
	}
	.text-wrapper-desc {
		width: 95%;
		.America();
		font-size: 2.1rem;
		line-height: 160%;
	}
}
.mobile__img {
	position: absolute;
	top: -11.2rem;
	right: 18.3rem;
	.image {
		img {
			width: 100%;
			height: 100%;
		}
	}
}
/*Features*/
.features {
	position: relative;
	padding-bottom: 38vw;	
}
.features-content {
	position: relative;
	display: flex;
	color: white;
	height: 31.53153153153153vh;
	&__items {
		display: flex;
		width: 46.875vw;
		margin-right: 8.4375vw;
		.items-img {
			margin: auto 0;
			img {
				width: 9.635416666666667vw; // 18.5rem
				height: auto; // 29rem
			}
		}
		.items-text {
			padding: 1.197916666666667vw 0 1.145833333333333vw 4.21875vw;
			display: flex;
			align-items: center;
		}
			h3 {
				font-size: 3.020833333333333vw;
				margin-bottom: 1.302083333333333vw;
				line-height: 120%;
				.America-Bold();
			}
			p {
				font-size: 1.09375vw;
				line-height: 160%;
			}
	}
	&__items:nth-child(4) {
		margin: 0;
		.items-text > div {
			/* width: 10rem; */
		}
	}
}

/*Digital-Sourcing*/
.digital-sourcing {
	display: block;
	width: 100%;
	/* margin-bottom: 16.14583333333333vw; */
	&__text {
		font-size: 3.020833333333333vw;
		font-weight: 800;
		margin-bottom: 4.6875vw;
		color: #1D1D1D;
		.America-Bold();
		p:first-child {
			margin-bottom: 0.5208333333333333vw;
		}
		p {
			transform: translateY(100%);
			animation-duration: 1s;
			animation-delay: 0.1s;
			animation-fill-mode: forwards;
		}
	}
	&__text > div:nth-child(1){
		overflow: hidden;
	}
	&__text > div:nth-child(2){
		overflow: hidden;
	}
	&__text > div:nth-child(1) p{
	animation-delay: 0.1s;
	}
	&__text > div:nth-child(2) p{
	animation-delay: 0.4s;
	}
	&__content {
		overflow: hidden;
	}
	&__content {
		img {
			width: 100%;
		}
	}
	&__border-wrapper {
		display: flex;
		justify-content: center;
		width: 100%;
		.border_grey {
			width: 85%;
			height: 6.25vw;
			border-left: 1px solid #CDCDCD;
			border-right: 1px solid #CDCDCD;
			border-bottom: 1px solid #CDCDCD;
		}
	}
}

/*Services*/
.services {
	padding-top: 16.14583333333333vw;
}
.services__sup-content,
.services__sub-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 9.895833333333333vw;
	.items {
		width: 32.91666666666667vw;
		.first-row {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-bottom: 1.979166666666667vw;
			p {
				font-size: 1.09375vw;
				width: 80%;
				.Cinetype-Mono();
				line-height: 160%;
			}
		}
		.second-row {
			font-size: 1.09375vw;
			line-height: 160%;
		}
	}
}
.services__sub-content {
	margin-bottom: 0;
}

/*Contacts*/
.contacts {
	margin-top: 16.14583333333333vw;
}
/*Contacts-container*/
.contacts-container {
	margin: 0 0 0 9%;
}
.contacts {
	background-color: #F9F9F9;	
}
.contacts-content {
	display: flex;
	color: white;
	position: relative;
	padding: 6.25vw 0;
	&__img {
		z-index: 2;
		margin: auto 0;
		overflow: hidden;
		img {
			width: 49.21875vw;
			height: 45.46875vw;
		}
	}	
	&__text {
		width: 50%;
		display: flex;
		align-items: center;
		opacity: 1;
		color: #252525;
		.contacts-text-wrapper {
			width: 79%;
		}
		.contacts-text-wrapper > div:nth-child(4) p {
			.America();
			line-height: 160%;
		}
		h3 {
		 margin: 0 ;
		 font-size: 3.020833333333333vw;
		 .America-Bold();
		 animation-duration: 1s;
		 animation-fill-mode: forwards;
		}
		p {
			font-size: 1.09375vw;
			margin-top: 1.979166666666667vw;
			word-spacing: 0.2604166666666667vw;
			line-height: 160%;
			width: 100%;
			.Cinetype-Mono();
			animation-duration: 1s; 
			animation-fill-mode: forwards;
		}
	}
	.contacts-btn {
		background-color: #252525;
		margin-top: 4.6875vw;
	}
	a {
		text-decoration: none;
		color: white;
	}
}

.contacts-text-wrapper > div:nth-child(1) p{
	margin-top: 0;
	margin-bottom: 1.09375vw;
}
.contacts-text-wrapper > div:nth-child(1) {
	.Cinetype-Mono();
	overflow: hidden;
}
.contacts-text-wrapper > div:nth-child(1) p{
	transform: translateY(320%);
	animation-delay: 1.2s;
}
.contacts-text-wrapper > div:nth-child(2) h3{
	transform: translateY(100%);
	animation-delay: 0.1s;
	font-weight: bold;
}
.contacts-text-wrapper > div:nth-child(2) {
	overflow: hidden;
	margin-bottom: 1rem;
}
.contacts-text-wrapper > div:nth-child(3) h3{
	transform: translateY(100%);
	animation-delay: 0.4s;
	font-weight: bold;
}
.contacts-text-wrapper > div:nth-child(3) {
	overflow: hidden;
}
.contacts-text-wrapper > div:nth-child(4) p{
	opacity: 0;
	animation-delay: 0.9s;
}

/*Footer*/

/*Container-footer*/
.container-footer {
	margin: 0 9%;
	width: 100%;
}
.footer {
	display: flex;
	height: 9.459459459459459vh;
	background-color: white;
	height: 100%;
}
/*Footer__Sup-Content*/
.footer__sup-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 3.125vw 0;
	border-bottom: 0.0520833333333333vw solid #CDCDCD;
}
.footer__section-logo {
	.logo {
		font-size: 1.666666666666667vw;
		font-weight: bold;
		padding: 0;
		.America-Bold();
	}
	.footer-item a {
		text-decoration: none;
		color: #252525;
	}
}
.footer__section-nav {
	display: flex;
	position: relative;
	.footer-item a {
		text-decoration: none;
		color: #252525;
	}
	.footer-item {
		font-size: 1.09375vw;
		padding: 0 2.864583333333333vw;
	}
	.footer-item:nth-child(1) {
		padding-left: 0;
	}
	.footer-item:nth-child(5) {
		padding-right: 0;
		position: relative;
	}
}
/*Footer__Sub-Content*/
.footer__sub-content {
	display: flex;
	justify-content: space-between;
	padding: 1.666666666666667vw 0 3.125vw;
}
.footer-item a {
	text-decoration: none;
		color: #252525;
}
.copyright {
	font-size: 0.8854166666666667vw;
	.Cinetype-Mono();
}
.sign {
	font-size: 0.8854166666666667vw;
	.Cinetype-Mono();
}


/*Animations*/
.text-animation,
.text-contacts-animation,
.text-digital-sourcing-animation {
	animation-name: description-text-animation;
}
	/*Primary*/
		@keyframes sub-text-animation {
    	to { transform: translateY(0) }
		}
		@keyframes sup-text-animation {
    	to { transform: translateY(0) }
		}

	/*Company-description*/
		/*Img*/
		@keyframes scale {
	 	 0%   {transform: scale(1);}
	  	100% {transform: scale(1.15);}
		}
		/*text*/
		@keyframes description-text-animation {
    	to { transform: translateY(0) }
		}
		/*FadeInUp*/
		@keyframes fadeInUp {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 25%, 0);
		    transform: translate3d(0, 25%, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}
		.fadeInUp {
		  -webkit-animation-name: fadeInUp;
		  animation-name: fadeInUp;
		}
		/*Animated*/
		.animated {
			animation-delay: 0.9s;
		}

/*Wrapper-Primary-bg Opacity-Zero*/
.wrapper-primary-bg_opacity-zero {
	transition: all 1s ease;
	opacity: 0;
}
/*Primary-Button none*/
.primary-button_none {
	opacity: 0;
}
/*Scroll-down none*/
.scroll-down_none {
	opacity: 0;
}

/*Scroll Digital-Sourcing bg*/
.digital-sourcing-bg_white {
	background: white;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}


/*Cursor*/
	
 .custom-cursor {
	position: fixed;
	top: -0.1041666666666667vw;
	left: -0.1041666666666667vw;
	display: block;
	width: 0.3645833333333333vw;// 7px
	height: 0.3645833333333333vw;// 7px
	background-color: white;
	border-radius: 50%;
	pointer-events: none;
	z-index: 9999;
	opacity: 1;  
}
 .cursor_border {
	position: fixed;
	top: -1.5%;// -14px
	left: -0.65%;
	width: 1.5625vw;// 30px
	height: 1.5625vw;// 30px
	z-index: 9998;
	user-select: none;
	pointer-events: none;
	border: 0.15625vw solid white;// 3px
	border-radius: 50%;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	opacity: 0.3;
}  
/* .cursor_border svg {
    -webkit-transform: scale(.45);
    transform: scale(.45);
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    will-change: transform;
    width: 60px;
    margin-top: -21px;
    margin-left: -21px;
    .fill{
    fill: white;
    }
} */

/*Cursor*/
.cursor_black {
	background-color: black;
}
.cursor_white {
	background-color: white;
}

/*Cursor Border*/
.cursor-bg_black {
	border: 3px solid black;
}
.cursor-bg_white {
	border: 3px solid white;
}  

/*btn,a Cursor None*/
button, a {
	cursor: none;
}


/*a, button Hover affect*/
.cursor_hover {
	opacity: 1;
}








