/*Fonts*/
@font-face {
  font-family: 'Gerbera';
  src: url('../fonts/Gerbera.eot');
  src: url('Gerbera.eot?#iefix') format('embedded-opentype'), url('../fonts/Gerbera.woff2') format('woff2'), url('../fonts/Gerbera.woff') format('woff'), url('../fonts/Gerbera.ttf') format('truetype'), url('../fonts/Gerbera.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot');
  src: url('MullerRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf') format('truetype'), url('../fonts/MullerRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Colors*/
/*btn*/
.btn {
  font-size: 1.7rem;
  padding: 1.9rem 8.2rem 2rem 8.3rem;
  border: 0.1rem solid #262829;
  background-color: transparent;
  margin-top: 0.1rem;
}
/*Container-slider*/
/*.container-slider {
	margin: 0 4%;
	
}*/
/*Container-header*/
.container-header {
  /*height: 100vh;*/
  margin: 0 9%;
}
/*Container*/
.container {
  /*height: 100vh;*/
  margin: 0 9%;
  /*display: flex;
	flex-direction: column;*/
}
/*Clearfix*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Muller', sans-serif;
  background-color: #fafaf3;
}
/*Header*/
header {
  margin-bottom: 3.5rem;
}
/*sup-navigation*/
.sup-navigation {
  margin: 0;
  height: 9.5rem;
  padding-top: 3.5rem;
  /*border: 1px solid red;*/
}
.sup-navigation .call-back {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  display: inline-block;
  padding: 0.9rem 0;
}
.sup-navigation .call-back a:not(.call-back__text) {
  text-decoration: none;
}
.sup-navigation .call-back__number {
  display: block;
  font-size: 1.7rem;
  font-family: 'Gerbera', sans-serif;
  margin-bottom: 0.6rem;
}
.sup-navigation .call-back__number strong {
  color: #262829;
}
.sup-navigation .call-back__text {
  font-size: 1.5rem;
  color: #59a329;
}
.sup-navigation .address {
  float: left;
  display: inline-block;
  margin-left: 12.6rem;
  height: 5.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sup-navigation .address__text {
  font-size: 1.5rem;
  line-height: 2.3rem;
  padding: 0.7rem 0;
}
.sup-navigation .logo {
  float: left;
  display: inline-block;
  padding: 0.8rem 0;
  margin-left: 29.3rem;
}
.sup-navigation .button {
  float: right;
  display: inline-block;
}
/*sub-navigation*/
.sub-navigation {
  margin-top: 2rem;
  border: 1px solid #B7B7B7;
}
.sub-navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.9rem;
  /*li::after {
			content: " ";
			display: block;
			position: absolute;
			top: 50%;
			right: 0%;
			background-color: red;
			width: 0.1rem;
			height: 2rem;
			transform: translateY(-50%);
		}*/
}
.sub-navigation__links li {
  display: inline-block;
  line-height: 6.5rem;
  /*width: 100%;*/
  list-style: none;
  text-align: center;
  margin: 0;
  position: relative;
}
.sub-navigation__links li:first-child {
  /*padding-left: 7.15rem;*/
}
.sub-navigation__links li:last-child {
  /*padding-right: 7.15rem;*/
}
.sub-navigation__links li:last-child:after {
  content: none;
}
.sub-navigation__links a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #262829;
  font-family: 'Gerbera', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
/*Main*/
main {
  background-color: #fafaf3;
}
/*Feature*/
.features,
.wrap {
  height: calc(80vh);
  position: relative;
  width: 100%;
  background-color: #262829;
  overflow: hidden;
  margin-bottom: 12.4rem;
  -webkit-transition: .5s transform;
  transition: .5s transform;
  /*Arrows*/
}
.features .arrow,
.wrap .arrow {
  cursor: pointer;
  height: 2rem;
  width: 3.4rem;
  background-color: red;
}
.features .arrow-left,
.wrap .arrow-left {
  position: absolute;
  top: 50%;
  left: 0;
  background: url(../img/main/Goods/LeftArrow.png) center no-repeat;
}
.features .arrow-left:hover,
.wrap .arrow-left:hover {
  background: url(../img/main/Goods/LeftArrow-Selected.png) center no-repeat;
}
.features .arrow-right,
.wrap .arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  background: url(../img/main/Goods/RightArrow.png) center no-repeat;
}
.features .arrow-right:hover,
.wrap .arrow-right:hover {
  background: url(../img/main/Goods/RightArrow-Selected.png) center no-repeat;
}
.features-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-slider__item:nth-child(1) {
  background-color: #262829;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.features-slider__item:nth-child(2) {
  background-color: red;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.features-slider__item:nth-child(3) {
  background-color: green;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.features-slider__item:nth-child(4) {
  background-color: purple;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.content {
  height: calc(80vh);
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.content .content-text {
  position: relative;
  top: 49%;
  left: 9%;
  display: inline-block;
  width: 50%;
}
.content .content-text h2 {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 5.6rem;
  font-weight: 100;
  font-family: 'Gerbera', sans-serif;
  margin-bottom: 3.3rem;
}
.content .content-text p {
  color: #ffffff;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
  font-weight: 100;
}
.content .content-text p:last-child {
  margin: 0;
}
/*Goods*/
.goods {
  margin-bottom: 16.8rem;
}
/*Goods__Menu*/
.menu {
  width: 100%;
  height: 10rem;
  /*background-color: red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.1rem solid #B7B7B7;
}
.menu__buttons > button {
  width: 23.7rem;
  font-family: 'Gerbera', sans-serif;
  font-size: 1.7rem;
  padding: 1.9rem 5.2rem 2rem 5.3rem;
  position: relative;
}
.menu__buttons {
  margin-bottom: 3rem;
  /*Coffe btn*/
  /*Tea btn*/
  /*Accessories*/
}
.menu__buttons .btn-space {
  margin: 0 6rem;
}
.menu__buttons button:nth-child(1):before {
  content: "";
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 1rem;
  background: url("../img/main/Goods/Vector.svg") no-repeat;
  z-index: -1;
}
.menu__buttons button:nth-child(2):before {
  content: "";
  position: absolute;
  top: 50%;
  left: 37%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 1rem;
  background: url("../img/main/Goods/Vector.svg") no-repeat;
  z-index: -1;
}
.menu__buttons button:nth-child(3):before {
  content: "";
  position: absolute;
  top: 50%;
  left: 22%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 1rem;
  background: url("../img/main/Goods/Vector.svg") no-repeat;
  z-index: -1;
}
.menu__buttons button:hover {
  border: none;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0rem 0.6rem 0.8rem 0rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.6rem 0.8rem 0rem rgba(0, 0, 0, 0.25);
}
.menu__buttons button:hover:before {
  z-index: 1;
}
/*Goods__Cards*/
.cards {
  width: 100%;
  height: 74.5rem;
  background-color: black;
}
/*Partners*/
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 20.9rem;
  border: 0.1rem solid #B7B7B7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.partners__items:hover {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0rem 0.9rem 0.8rem rgba(0, 0, 0, 0.11);
          box-shadow: 0rem 0rem 0.9rem 0.8rem rgba(0, 0, 0, 0.11);
}
