@font-face {
  font-family: 'JaapokkienchanceRegular';
  src: url('../fonts/JaapokkienchanceRegular.eot');
  src: url('JaapokkienchanceRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/JaapokkienchanceRegular.woff2') format('woff2'), url('../fonts/JaapokkienchanceRegular.woff') format('woff'), url('../fonts/JaapokkienchanceRegular.ttf') format('truetype'), url('../fonts/JaapokkienchanceRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JaapokkisubtractRegular';
  src: url('../fonts/JaapokkisubtractRegular.eot');
  src: url('JaapokkisubtractRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/JaapokkisubtractRegular.woff2') format('woff2'), url('../fonts/JaapokkisubtractRegular.woff') format('woff'), url('../fonts/JaapokkisubtractRegular.ttf') format('truetype'), url('../fonts/JaapokkisubtractRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Colors*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
/*btn*/
.btn {
  width: 217px;
  height: 59px;
  font-family: 'JaapokkisubtractRegular', sans-serif;
  background: transparent;
  color: white;
  border: 3px solid #ffffff;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: #ffffff;
  color: blue;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/*Main*/
/*main__Header*/
.main {
  background: #0304b8 url(../images/Фон.jpg) center bottom no-repeat;
  background-size: cover;
  color: #ffffff;
  -webkit-box-shadow: 0 50px 100px rgba(33, 48, 99, 0.8);
          box-shadow: 0 50px 100px rgba(33, 48, 99, 0.8);
}
.container-main {
  margin: 0 8%;
  height: 100vh;
  position: relative;
}
.container {
  margin: 0 8%;
  position: relative;
}
.nav {
  height: 175px;
  position: relative;
}
.nav__logo {
  display: inline-block;
  float: left;
  width: 48px;
  height: 48px;
  font-family: 'JaapokkisubtractRegular', sans-serif;
  background-color: #ffffff;
  text-align: center;
  line-height: 54px;
  font-size: 25px;
  text-transform: uppercase;
  -webkit-transition: border-radius 0.11s ease;
  transition: border-radius 0.11s ease;
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  clear: both;
}
.nav__logo a {
  text-decoration: none;
  line-height: 48px;
}
.nav__logo:hover {
  border-radius: 8px;
}
.nav__text {
  display: inline-block;
  width: 42px;
  height: 174px;
  font-size: 18px;
  background-color: #ffffff;
  color: #0001c5;
  position: absolute;
  top: 0;
  left: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 22px 16px;
  text-align: center;
  line-height: 22px;
}
.nav__boorger {
  float: right;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  clear: both;
}
.nav__boorger .span {
  direction: rtl;
}
.nav__boorger .span__long--red {
  display: block;
  width: 48px;
  height: 2px;
  background-color: #ff0000;
  margin-bottom: 6px;
}
.nav__boorger .span__madium--white {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 6px;
}
.nav__boorger .span__short--white {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
}
.nav__boorger:hover span {
  float: left;
  clear: both;
}
/*main__Content*/
.mainContent {
  margin-top: 150px;
  height: 500px;
  /*leftItem*/
}
.mainContent .leftItem {
  float: left;
  width: 50%;
  position: relative;
}
.mainContent .leftItem__worth {
  display: inline-block;
  position: absolute;
  text-align: left;
  font-family: 'JaapokkisubtractRegular', sans-serif;
  font-size: 220px;
  text-transform: uppercase;
  color: #1b1cc4;
}
.mainContent .leftItem__mainText {
  position: relative;
  left: 18%;
  padding-top: 3%;
  padding-bottom: 50px;
  font-family: 'JaapokkisubtractRegular', sans-serif;
  display: inline-block;
  font-size: 55px;
  letter-spacing: 7px;
  line-height: 80px;
}
.mainContent .leftItem__mainText:after {
  content: "";
  display: block;
  position: absolute;
  top: 5%;
  right: 30%;
  background-color: #ffffff;
  width: 31px;
  height: 5px;
}
.mainContent .leftItem__subText {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 30px;
  position: absolute;
  bottom: -20%;
  left: 28%;
}
.mainContent .leftItem__button {
  position: absolute;
  bottom: -68%;
  right: 28%;
}
.mainContent .leftItem__button a {
  text-decoration: none;
  color: #ffffff;
}
.mainContent .rightItem {
  float: left;
  display: block;
  width: 50%;
  font-family: 'JaapokkisubtractRegular', sans-serif;
  font-size: 300px;
  position: relative;
  height: 400px;
}
.mainContent .rightItem__text {
  position: absolute;
  top: -4%;
  right: 26%;
  line-height: 0.7em;
  text-shadow: 15px 15px 0 #0309a1;
}
.mainContent .rightItem__text span {
  margin-right: -70px;
}
.mainContent .rightItem__text .span-e {
  color: #0048ff;
}
/*main__Footre*/
.mainFooter {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 22px;
  font-family: 'JaapokkisubtractRegular', sans-serif;
  height: 149px;
  overflow: hidden;
}
.mainFooter__item {
  display: block;
  border-right: 3px solid #ffffff;
  padding-right: 40px;
  padding-top: 23px;
  height: 100%;
  cursor: pointer;
}
.mainFooter__item a {
  text-decoration: none;
  color: #0001c5;
  height: 100%;
}
.mainFooter__item:hover {
  background-color: #ffffff;
  color: #0001c5;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/*Section Servises*/
.services {
  font-family: 'JaapokkisubtractRegular', sans-serif;
  margin-bottom: 190px;
  padding: 170px 0 0;
}
.services .subText {
  font-size: 23px;
  color: #a8a8e4;
  letter-spacing: 1px;
}
.services .mainText {
  color: #0001c5;
  position: relative;
  margin-bottom: 115px;
  padding-left: 14px;
  margin-left: 50px;
}
.services .mainText__service {
  font-size: 85px;
  margin: 20px 0 0;
  letter-spacing: 3px;
}
.services .mainText:after {
  content: " ";
  display: inline-block;
  position: absolute;
  bottom: 14%;
  left: 24%;
  background-color: #0001c5;
  width: 31px;
  height: 5px;
}
.serviceSlider {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}
.serviceSlider .prev {
  position: absolute;
  top: 50%;
  left: -5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../images/Services/left-arrow.svg) center no-repeat;
  background-size: 80%;
}
.serviceSlider .next {
  position: absolute;
  top: 50%;
  right: -5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../images/Services/right-arrow.svg) center no-repeat;
  background-size: 80%;
}
.serviceSlider__block {
  width: 285px;
  border: 4px solid #0001c5;
  margin: 0 60px;
  position: relative;
  background-color: #ffffff;
  color: #0001c5;
}
.serviceSlider__block span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background-color: #0001c5;
  text-align: center;
  line-height: 42px;
  font-size: 31px;
  color: #ffffff;
  cursor: pointer;
}
.serviceSlider__block .number {
  position: absolute;
  top: 5%;
  left: -23%;
  color: #a8a8e4;
  display: block;
  width: 28px;
  height: 28px;
  background-color: transparent;
}
.serviceSlider__block:hover {
  background-color: #0001c5;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.serviceSlider__block img {
  width: 49px;
  height: 49px;
  margin: 49px;
}
.serviceSlider__block h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  margin-left: 49px;
  line-height: 1.8;
  margin-bottom: 131px;
}
.serviceSlider__block:before {
  content: " ";
  width: 20px;
  height: 20px;
  background-color: black;
}
/*Footer*/
.footer {
  height: 412px;
  background-color: #ededf8;
}
.footer__container {
  padding-top: 122px;
  padding-bottom: 122px;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 168px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  width: 100%;
  line-height: 59px;
}
.footer__nav ul li.footer__button {
  border: 3px solid #0001c5;
  width: 217px;
  height: 60px;
  line-height: 56px;
  text-align: center;
  font-family: 'JaapokkisubtractRegular', sans-serif;
  background: transparent;
  font-size: 20px;
}
.footer__nav ul li.footer__button:hover {
  background-color: #ffffff;
}
.footer__nav ul li {
  float: left;
  margin: 0 30px;
  padding: 0;
  font-size: 12px;
}
.footer__nav ul li a {
  text-align: center;
  text-decoration: none;
  color: #0001c5;
}
.footer__nav ul li:first-child {
  margin: 0 30px 0 60px;
  color: red;
}
.footer__nav ul li:last-child {
  margin: 0 0 0 30px;
  color: red;
}
.footer__nav .logo {
  display: inline-block;
  float: left;
  width: 48px;
  height: 48px;
  font-family: 'JaapokkisubtractRegular', sans-serif;
  background-color: #0001c5;
  text-align: center;
  line-height: 52px;
  font-size: 25px;
  text-transform: uppercase;
  -webkit-transition: border-radius 0.11s ease;
  transition: border-radius 0.11s ease;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  clear: both;
}
.footer__nav .logo a {
  text-decoration: none;
  line-height: 55px;
  color: #ffffff;
}
