@font-face {
  font-family: 'JaapokkienchanceRegular';
  src: url('../fonts/JaapokkienchanceRegular.eot');
  src: url('JaapokkienchanceRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/JaapokkienchanceRegular.woff2') format('woff2'), url('../fonts/JaapokkienchanceRegular.woff') format('woff'), url('../fonts/JaapokkienchanceRegular.ttf') format('truetype'), url('../fonts/JaapokkienchanceRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JaapokkisubtractRegular';
  src: url('../fonts/JaapokkisubtractRegular.eot');
  src: url('JaapokkisubtractRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/JaapokkisubtractRegular.woff2') format('woff2'), url('../fonts/JaapokkisubtractRegular.woff') format('woff'), url('../fonts/JaapokkisubtractRegular.ttf') format('truetype'), url('../fonts/JaapokkisubtractRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Colors*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
