@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev
{
    position: absolute;
    top: 50%;
    display: block;
    width: 2.291666666666667vw;
    height: 0.6770833333333333vw;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url(../img/goods/LeftArrow.svg) center no-repeat;
       
}
.slick-prev:before {
    content: "";
    display: block;
    position: absolute;
    left: -55%;
    top: 50%;
    border-radius: 0 6.25vw  6.25vw 0;
    transform: translateY(-50%);
    width: 3.125vw;
    height: 4.6875vw;
    background-color:  #FFF6E3;
    z-index: -1;
}
.slick-next {
    position: absolute;
    top: 50%;
    display: block;
    width: 2.291666666666667vw;
    height: 0.6770833333333333vw;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url(../img/goods/RightArrow.svg) center no-repeat;
}
.slick-next:before {
    content: "";
    display: block;
    position: absolute;
    right: -55%;
    top: 50%;
    border-radius: 6.25vw 0 0 6.25vw ;
    transform: translateY(-50%);
    width: 3.125vw;
    height: 4.6875vw;
    background-color:  #FFF6E3;
    z-index: -1;
}
/* .slick-prev:hover:before,
.slick-next:hover:before {
    background-color: #FFF6E3;
} */
.slick-prev:hover,
.slick-prev:focus
{
    
   background: url(../img/goods/LeftArrow-Selected.svg) center no-repeat;
}

.slick-next:hover,
.slick-next:focus {
    background: url(../img/goods/RightArrow-Selected.svg) center no-repeat;
}

/* .slick-prev:hover,
.slick-next:hover {
    color: #59A329;
} */

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 2rem;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 1%;
}
[dir='rtl'] .slick-prev
{
    right: 1%;
    left: auto;
}



.slick-next
{
    right: 1%;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 1%;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
